@model IEnumerable<CodingCraftHOMod1Ex1EF.Models.Loja>

@{
    ViewBag.Title = "Cadastro de Lojas";
}

<h2>Cadastro de Lojas</h2>


<div class="row">
    <div class="col-lg-4">
        <p>
            @Html.ActionLink("Criar nova loja", "Create")
        </p>
    </div>
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.Label("Filtrar: ")
            @Html.TextBox("consulta");
            <button type="submit" class="btn btn-primary">Filtrar</button>
        }
    </div>
</div>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LojaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LojaId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.LojaId })
        </td>
    </tr>
}

</table>
