@model IEnumerable<EX2.Models.Produto>

@{
    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nome
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ProdutoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ProdutoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.ProdutoId })
        </td>
        <td>
			@item.Nome
        </td>
    </tr>
}

</table>


